.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: transparent;
  overflow: hidden;
  position: absolute;
  width: 101vw;
  z-index: 1000;
  margin-left: -15px;
}

.link {
  cursor: pointer;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.hamburger-menu .line {
  width: 25px;
  height: 3px;
  background-color: #fbf8f8;
  margin: 5px;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 2%;
  margin-top: 1%;
}


.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2%;
  margin-right: 4%;
  font-weight: bold;

}

.homelink {
  font-size: 2.5rem;
  font-weight: 600;
}

.NavLink:hover,
.NavLink>.active {
  color: #1bac61;
}



.NavLink {
  margin-left: 5%;
  margin-right: 5%;
}

.mainnav ul li {
  margin: 0 24px;
  list-style: none;
  font-weight: bold;
}

.btn :hover {
  background: transparent;
  color: var(--main-color);
}

/*

  Media Queries Below

  */

@media screen and (max-width:1000px) {
  .logo {
    margin-left: 3%;
  }
}

@media screen and (max-width: 768px) {
  .hamburger-menu {
    display: block;
    margin-top: 4%;
  }

  .logo {
    margin-left: 5%;
    margin-top: 4%;
  }

  .flexbox {
    display: none;
  }

  .flexbox.active {
    display: flex;
    flex-direction: column;
    background-color: #b3b0b0;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
  }


  .flexbox.active a {
    color: #fff;
    text-align: center;
    padding: 15px;
    text-decoration: none;
  }
}

@media screen and (max-width:700px) {
  .logo {
    margin-left: 6%;
  }
}